.banner-img{
  width: 100%;
  height: auto;
  z-index: -1;
}
.navbar-box{
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  color: #fff; */
}
.navbar-center{
  width: 184px;
  height: 108px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/Banner/logo.png');
}
.navbar-icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
}
.navbar-wechat{
  background-image: url('../images/Banner/wechat.png');
}
.navbar-weibo{
  background-image: url('../images/Banner/weibo.png');
}

.banner-word{
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  left: 20%;
  max-width: 552px;
  max-height: 300px;
}
.banner-arrow{
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin: 6px 0 0 0;
}
.swiper-slide{
  max-height: 478px;
  padding-right:6px;
}
.product-intro{
  width: 100%;
  height: 100%;
  position: relative;
}

.product-name{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 50px;
  width: 50%;
  font-size: 14px;
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 20px;

}
.img-product{
  width: 100%;
  height: auto;
  margin: 0;
}
.swiper-button-prev{
  width: 44px!important;
  background-size: 44px 44px!important;
  background-image: url('../images/prev.png')!important;
}
.swiper-button-next{
  width: 44px!important;
  background-size: 44px 44px!important;
  background-image: url('../images/next.png')!important;
}
#brand,#shops {
  margin-top: 80px;
}
#brand h3,#shops h3{
  font-size: 25px;
  margin:0 0 25px;
  font-family: SourceHanSansCN;
  font-weight: bold;
  color: #897567;
}
.show-item{
  position: relative;
  max-width: 453px;
}
.img-show{
  max-width: 453px;
  height: auto;
}
.show-item .intro{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  font-size: 14px;
  line-height: 50px;
  padding-left: 30px;
  transition: all 1s;
}
.show-item:hover .intro{
  background-color: rgba(0,0,0,.8);

}
.show-item.shop{
  max-width: 469px;
  height: auto;
  margin-bottom: 40px;
}
.shop-name{
  width: 28px;
  height: 14px;
  font-size: 14px;
  font-family: SourceHanSansCN;
  font-weight: bold;
  color: #897567;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-top: 10px;

}
.hover-zoom:hover{
  -webkit-filter: blur(2px); 
  filter: blur(1px);
  transition: all 1s;
  cursor: pointer;
}